.main-container .content-container .content-area{
    padding: 0px !important;
}

.clr-vertical-nav {
  width: 350px;
}

.clr-vertical-nav ::ng-deep .nav-content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#map {
    height: 1000px;
    width: 100%;
}

h2{
  margin-top:0;
}

p{
  margin-top:0;
  line-height:1.3;
}

