<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <h1 class="clr-hidden-xs-up">Twice Rice</h1>
      <a routerLink="/" class="nav-link">
        <!--<span class="clr-icon clr-clarity-logo"></span>-->
        <span class="title clr-hidden-xs-down">
          TWICE RICE
          <span>| Interactive Maps</span>
        </span>
        <span class="title clr-hidden-sm-up">TR</span>
      </a>
    </div>

    <div class="header-actions"></div>
  </clr-header>

  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <form clrForm clrLayout="vertical" class="datepickers-container" *ngIf="!collapsed">
          <h2>Rainfall Forecast Map</h2>

          <p>Know the rainfall forecast for the next six days and the next few years in your area using a 35+ year quasi-global rainfall data set. Just choose your desired date and location to get started. You can also click on the map to download the data.</p>
          <br/>
          <p><b>Data Sources</b>: <a href="https://openweathermap.org/">OpenWeather Map</a> and <a href="https://www.chc.ucsb.edu/data/chirps/">Climate Hazards Group InfraRed Precipitation with Station data (CHIRPS)</a></p>

        <clr-date-container>
          <label for="">Select Date:</label>
          <input type="date" [(clrDate)]="inputDate" name="startDate">
        </clr-date-container>

        <clr-select-container>
          <label for="">Select Municipality:</label>

          <select clrSelect name="municipality" [(ngModel)]="selectedMunicipality">
            <option value="Muñoz" selected="selected">Muñoz</option>
            <option value="Santo Domingo">Santo Domingo</option>
            <option value="San Jose">San Jose</option>
          </select>
        </clr-select-container>

        <br>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="submitButtonDisabled">RUN</button>
      </form>

      <ng-container *ngIf="!collapsed">
        <section *ngIf="(httpRequestPipelineObs$ | async) as requests">
          <hr/>
          <h2>Results</h2>

          <div>
            <h5 style="margin: 0; font-weight: 700;">Forecast for {{ selectedMunicipality }}</h5>
            <span>
              {{ inputDate | date }} is
              <ng-container *ngIf="selectedMunicipality === 'San Jose'">
                <!-- {{ Six Day: requests[5] }} -->
                {{ requests[3].rainfall_forecast }} mm
                <br/><br/>
                <h5 style="font-weight: 700">5-day forecast</h5>
                <span style="color: #313131">{{ requests[5].list[1].dt_txt | date}} : {{ requests[5].list[1]?.rain['3h'] }} mm</span><br/>
                <span style="color: #313131">{{ requests[5].list[8].dt_txt | date}} : {{ requests[5].list[8]?.rain['3h'] }} mm</span><br/>
                <span style="color: #313131">{{ requests[5].list[16].dt_txt | date}} : {{ requests[5].list[16]?.rain['3h'] }} mm</span><br/>
                <span style="color: #313131">{{ requests[5].list[26].dt_txt | date}} : {{ requests[5].list[26]?.rain['3h'] }} mm</span><br/>
                <span style="color: #313131">{{ requests[5].list[33].dt_txt | date}} : {{ requests[5].list[33]?.rain['3h'] }} mm</span><br/>
              </ng-container>
              <ng-container *ngIf="selectedMunicipality === 'Muñoz'">
                <!-- {{ Six Day: requests[2] }} -->
                {{ requests[0].rainfall_forecast }} mm
                <br/><br/>
                <h5 style="font-weight: 700">5-day forecast</h5>
                <span style="color: #313131">{{ requests[5].list[1].dt_txt | date}} : {{ requests[5].list[1]?.rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[5].list[8].dt_txt | date}} : {{ requests[5].list[8]?.rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[5].list[16].dt_txt | date}} : {{ requests[5].list[16]?.rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[5].list[26].dt_txt | date}} : {{ requests[5].list[26]?.rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[5].list[33].dt_txt | date}} : {{ requests[5].list[33]?.rain['3h'] }} mm</span><br />
              </ng-container>
              <ng-container *ngIf="selectedMunicipality === 'Santo Domingo'">
                <!-- {{ Six Day: requests[8] }} -->
                {{ requests[6].rainfall_forecast }} mm
                <br /><br />
                <h5 style="font-weight: 700">5-day forecast</h5>
                <span style="color: #313131">{{ requests[8].list[1].dt_txt | date}} : {{ requests[8].list[1].rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[8].list[8].dt_txt | date}} : {{ requests[8].list[8].rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[8].list[16].dt_txt | date}} : {{ requests[8].list[16].rain['3h'] }} mm</span><br />
                <span style="color: #313131">{{ requests[8].list[38].dt_txt | date}} : {{ requests[8].list[38].rain['3h'] }} mm</span><br />
              </ng-container>
            </span>
          </div>
        </section>
      </ng-container>
    </clr-vertical-nav>

    <main class="content-area" role="main">
      <div id="map"></div>
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
